* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* TODO find a better background image */
  background-image:url("/pics/background_image.jpg");
  background-repeat: no repeat;
  background-size: 100%;
  background-position: center;
}
header {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* z-index: 99; */
}
.logo {
  font-size: 2em;
  color: white;
  /* user-select: none; */
}
.navigation .page-anchor {
  font-size: 1.1em;
  color: white;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  /* user-select: none; */
}

.navigation .page-anchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.5s;
}

.navigation .page-anchor:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnlogin-popup {
  width: 130px;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: white;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}
.navigation .btnlogin-popup:hover {
  background-color: white;
  color: black;
}

